{% extends 'main.html' %}

{% block educational_institution %}
<h1 class="text-center">Educational institution types</h1>
<hr>
<div class="search-block">
    <form action="">
        <input type="text" name="q" class="form-control" placeholder="Search" value="{{ request.GET.q }}" >
        <input type="submit" class="btn btn-primary btn-block" value="Search">
    </form>
</div>
<hr>
{% for educational_institution_type in educational_institution_types %}
<h2>
    <a href="../get/{{ educational_institution_type.id }}/">
        {{ educational_institution_type.educational_institution_type }}
    </a>
</h2>
<hr>
{% endfor %}
{% endblock %}