{% extends 'main.html' %}

{% block educational_institution %}
<h1 class="text-center">Faculties</h1>
<hr>
<div class="search-block">
    <form action="">
        <input type="text" name="q" class="form-control" placeholder="Search" value="{{ request.GET.q }}" >
        <input type="submit" class="btn btn-primary btn-block" value="Search">
    </form>
</div>
<hr>
{% for faculty in faculties %}
<h2>
    <a href="../get/{{ faculty.id }}">
        {{ faculty.faculty_name }}
    </a>
</h2>
<p><b>Educational institution:</b> {{ faculty.educational_institution }}</p>
<hr>
{% endfor %}
{% endblock %}